<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VITA Company</title>
    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZwT" crossorigin="anonymous">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <style>
      .btn-remove-from-cart {
          color: #fff;
      }
  </style>
</head>

<body>
    <header class="navbar sticky-top navbar-expand-lg navbar-dark main-nav">
        <div class="container">
          <a class="navbar-brand" href="index.html"><img src="{{ url_for('static', filename='img/logo.png') }}" class="main-logo px-2"><i><font color=black>Vitality Assistant</font></i></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav ms-auto py-1">
              <a class="nav-link px-4" aria-current="page" href="{{ url_for('home') }}">Home</a>
              <a class="nav-link px-4" href="{{ url_for('about') }}">About Us</a>
              <a class="nav-link px-4" href="{{ url_for('faq') }}">FAQ</a>
              <a class="nav-link px-4" href="{{ url_for('product') }}">Product</a>
              <a class="nav-link active px-4" href="{{ url_for('cart') }}">Cart</a>
            </div>
          </div>
        </div>
    </header>

  <div class="container mt-5">
    <h2 class="text-center py-3"><b>Keranjang Anda</b></h2>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">No</th>
                <th scope="col">Nama</th>
                <th scope="col">Deskripsi</th>
                <th scope="col">Harga</th>
                <th scope="col">Gambar</th>
            </tr>
        </thead>
        <tbody>
          {% for product in cart_products %}
        <tr>
            <th scope="row">{{ loop.index }}</th>
            <td>{{ product['name'] }}</td>
            <td>{{ product['description'] }}</td>
            <td>{{ product['harga'] }}</td>
            <td>
                <img src="{{ url_for('static', filename=product['image']) }}" alt="product-img" style="max-width: 100px; max-height: 100px;"></td>
            <td>
                <a href="{{ url_for('remove_from_cart', product_index=loop.index) }}" class="btn btn-danger btn-remove-from-cart">Hapus</a>
            </td>
        </tr>
    {% endfor %}
        </tbody>
    </table>
</div>

  <footer class="bg-light py-3 mt-5">
      <div class="container">
          <div class="row">
              <div class="col-md-6 text-center">
                  <a href="{{ url_for('product') }}" class="btn btn-warning"><b>Back</b></a>
              </div>
              <div class="col-md-6 text-center">
                  <a href="{{ url_for('home') }}" class="btn btn-warning"><b>Home</b></a>
              </div>
          </div>
      </div>
  </footer>

    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
</body>
</html>